@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

html {
    font-size: 10px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
}

main {
    display: flex;
    height: 90vh;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.login-form {
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    font-size: 1.6rem;
}

input, label {
    margin: 1rem;
    display:block;
}

form input {
    width: 97%;
    padding: 0.5rem;
    border: 1px solid #CCCCCC;
    box-shadow: 0 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    color: rgba(0, 0, 0, 0.7);
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #CCCCCC;
    font-size: 1.2rem;
}

form label {
    font-weight: 700;
    margin: 1rem 0 0 0;
}

.login-form__left-form-auth input[type="submit"]{
    background: #27485D;
    border: 1px solid #284A5E;
    box-shadow: 0 2px 2px 2px rgba(204, 204, 204, 0.1);
    border-radius: 4px;
    width: 100%;
    color: white;
    padding: 0.8rem;
    margin-bottom: 1rem;
}
